{% extends "_base.html" %}
{% import "macros/_css.html" as css %}
    {%- block css -%}
        {{ css.render_css('main') }}
    {%- endblock -%}

    {%- block siteheader %}
        {%- if current_user.has_role('admin') -%}
            <div class="admin-nav">
                <a class="admin-link small-caps useicons" href="{{url_for('admin.index')}}" data-no-instant>&#xe600;</a>
            </div>
        {%- endif %}
            <div class="site-head wrapper cf">
                <header role="banner" class="banner medium-float-left">
                    <h1 class="name small-caps"><a class="" href="{{url_for('blog.PostView:index')}}">Joe Hand</a></h1>
                </header>
                {%- include "blog/partials/_site-nav.html" %}
            </div>
            <div class="site-head-border strip"></div>
    {%- endblock siteheader -%}

    {% block sitefooter %}
            <footer role="contentinfo" class="footer">
                <div class="bottom cf">
                    {% include "partials/_social.html" %}
                    <div class="wrapper">
                        <span class="copyright medium-float-left">
                            <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Copyright © 2014</a>
                            &nbsp;·&nbsp; Joe Hand
                        </span>
                        <span class="made medium-float-right">
                            <a href="{{url_for('blog.archive')}}">Archive</a>
                            &nbsp;·&nbsp;<a href="{{url_for('blog.page', slug='about')}}">Made by <span class="useicons">&#xe635;</span></a>
                        </span>
                    </div>
                </div>
            </footer>
    {%- endblock sitefooter %}

{%- block footer_js %}
{%- set js_name = 'instantclick' -%}
{%- assets filters="jsmin", output="build/" + js_name + ".%(version)s.min.js",
  "js/libs/" + js_name + ".js" -%}
    <script src="{{ ASSET_URL }}"></script>
{%- endassets -%}
        {% if not config.DEBUG and not current_user.has_role('admin') %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-37465100-3', 'joeahand.com');

            InstantClick.on('change', function() {
                ga('send', 'pageview', location.pathname + location.search);
            });

            InstantClick.init();
        </script>
        {%- else -%}
        <script>
            InstantClick.init();
        </script>
        {%- endif -%}
{%- endblock footer_js %}
