{% extends "blog/_blog_base.html" %}

{%- block content %}
    <div class="post-archive">
    {%- for post in g.posts %}
        {% if loop.first -%}
            {%- set year = post.pub_date.year -%}
            <div class="year crossbars">{{year}}</div>
        {%- elif post.pub_date.year < year -%}
            {%- set year = post.pub_date.year -%}
            <div class="year crossbars">{{year}}</div>
        {% endif -%}

        <div class="post-list" data-id="{{post.id}}">
            <div class="cf">
                <h4 class="title float-left">
                    <a href="{{url_for('blog.post', slug=post.slug)}}">{{post.title}}</a>
                </h4>
                <a href="{{url_for('.category', category=post.category)}}" class="category float-right">
                    {%- if post.category -%}{{post.category}}{%- endif -%}
                </a>
            </div>
            <div class="cf">
                <span class="pub_date float-left">{{post.pub_date.strftime('%B %d')}}</span>
            </div>
        </div>
    {% endfor -%}
    </div>
{% endblock -%}
