{% extends "blog/_blog_base.html" %}

{%- block body_class %}home{%- endblock body_class -%}
    {%- block siteheader %}
        {%- if current_user.has_role('admin') -%}
            <div class="admin-nav">
                <a class="admin-link small-caps useicons" href="{{url_for('admin.index')}}" data-no-instant>&#xe600;</a>
            </div>
        {%- endif %}
            <div class="site-head wrapper cf">
                {%- include "blog/partials/_site-nav.html" %}
            </div>
    {%- endblock siteheader -%}

    {%- block content %}
                    <div class="home-head wrapper">
                        <header role="banner" class="">
                            <h1 class="name small-caps"><a class="" href="{{url_for('blog.PostView:index')}}">Joe Hand</a>
                                </h1>
                        </header>
                    </div>
        {%- if home %}
            {{home.content|markdown|safe}}
            <hr/>
            {%- include "blog/partials/_post_trunc.html" %}
        {% elif post %}
            {%- include "blog/partials/_post_full.html" %}
        {%- endif -%}
    {%- endblock -%}
