{% extends "blog/_blog_base.html" %}
{% import "macros/_wtf.html" as wtf -%}


{%- block content %}
        {% include "blog/partials/_post_full.html" %}

        {# Need spam control =(
        {%- if post.kind != 'page' %}
        <form class="form comment-form" method="post" action="{{request.url}}">
            <fieldset>
            {{ form.hidden_tag() }}
            {{ wtf.regular_field(form.content, rows=8) }}
            {{ wtf.regular_field(form.name) }}
            {{ wtf.regular_field(form.email, description="Will not be published") }}
            <button type="submit" class="float-right button button-small">Submit</button>
            </fieldset>
        </form>
        {%- if post.comments|length > 0 %}
        <div class="comment-list">
            <h5 class="h3">{% if post.comments|length == 1 %}{{ post.comments|length }} Comment {% else %}{{ post.comments|length }} Comments{% endif %}</h5>
        {%- for comment in post.comments %}
            <div class="comment">
                <img src="{{comment.avatar(48)}}" class="image">
                <div class="cf">
                <span class="h6 float-left name">{{comment.name}}</span>
                <span class="float-right date">{{comment.created_at|time_ago}}</span>
                </div>
                <div class="comment-content">{{comment.content|safe|urlize(40, true)}}</div>
            </div>
        {%- endfor %}
        </div>
        {%- endif %}
        {%- endif %}
        #}
{% endblock %}
