<!DOCTYPE html>
<html>
    <head>
        <script data-cfasync="false" type="text/javascript">
            var host = '{{ SITEURL | replace('https://', '') }}';
            if ((host == window.location.host) && (window.location.protocol != "https:"))
                window.location.protocol = "https";
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="ClearType" content="true">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- DNS prefetch -->
        <link rel="dns-prefetch" href="//ajax.googleapis.com">
        <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
        <link rel="dns-prefetch" href="//scontent.cdninstagram.com">

        <title>{% block title %}{{ SITENAME }} {% if SITESUBTITLE %}| {{ SITESUBTITLE }}{% endif %}{% endblock %}</title>
        <meta name="description" content="{{ SITESUBTITLE }}">

        <!-- Styles -->
        {% assets filters="pyscss,cssmin", depends=('**/*.scss'), output="main.min.css", "scss/main.scss" %}
            <link rel="stylesheet" href="{{ SITEURL | replace('https://', '//') }}/{{ ASSET_URL }}">
        {% endassets %}

        <!-- WebFonts -->
        <script  data-cfasync="false" src="//ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js"></script>
        <script data-cfasync="false" >
          WebFont.load({
            google: {
              families:  [ 'EB+Garamond::latin', 'Open+Sans:400italic,400,700,300:latin' ]
            }
          });
        </script>
        {% block head_scripts %}
        {% endblock %}

        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div role="document" class="document">
        {%- block siteheader -%}
        <div class="header">
            <div class="site-header pure-menu pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading small-caps" href="{{ SITEURL }}">{{ SITENAME }}</a>
                {%- include "partials/_nav.html" %}
            </div>
        </div>
        {% endblock siteheader -%}

        {%- block main %}
            <main role="main" class="main pure-g">
                <div class="pure-u-2-24 pure-u-lg-1-5"></div>
                <div class="page-content pure-u-20-24 pure-u-lg-3-5">
                {%- block content -%}
                {%- endblock content %}
                </div> <!-- .page-content  -->
                <div class="pure-u-2-24 pure-u-lg-1-5"></div>
            </main> <!-- main  -->
        {%- endblock main %}

            {% block sitefooter %}
            <footer role="contentinfo" class="site-footer l-box pure-g is-center">
                <div class="pure-u-2-5 pure-u-md-1-3">
                    <span class="copyright">
                        {{AUTHOR}} &nbsp;·&nbsp;
                        {% if COPYRIGHT_LINK %}
                            <a href="{{COPYRIGHT_LINK}}">© {{ YEAR }}</a>
                        {% else %}
                            <span>© {{ YEAR }}</span>
                        {% endif %}
                    </span>
                </div>
                <div class="pure-u-1-5 pure-u-md-1-3">{% include "partials/_social.html" %}</div>
                <div class="pure-u-2-5 pure-u-md-1-3">
                    <!-- <span>
                    {% if ARCHIVES_URL %}
                    <a href="{{ SITEURL }}/{{ARCHIVES_URL}}">Archive</a>
                    {% elif ARCHIVES_SAVE_AS %}
                    <a href="{{ SITEURL }}/{{ARCHIVES_SAVE_AS}}">Archive</a>
                    {% endif %}
                    {% if FEED_DOMAIN and FEED_ALL_ATOM %}
                    &nbsp;·&nbsp;<a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">RSS</a>
                    {% endif %}
                    </span>
                    &nbsp;·&nbsp;-->
                    <span>
                        <a href="{{ SITEURL }}/about/#about-site">Made By <span class="useicons">&#xe603;</span></a>
                    </span>
                </div>
            </footer>
            {%- endblock sitefooter %}
        </div> <!-- document -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/chartist/0.9.1/chartist.min.js"></script>
    <script src="{{ SITEURL | replace('https://', '//') }}/theme/instantclick.min.js"></script>
    {%- block footer_scripts %}
    {%- endblock footer_scripts %}
    {% include 'partials/_analytics.html' %}
    </body>
</html>
