{% extends "_base.html" %}

{% block content %}
    {% block content_title %}
    <h2 class="small-caps">Blog</h2>
    {% endblock content_title %}
    {% block article_list %}
        {% for article in articles_page.object_list %}
            <section class="post-full" data-id="{{article.id}}">
                    <header>
                        <h2 class="title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                        {%- if article.link_url -%}
                            <h5 class="link_url">
                                <a href="{{article.link_url}}"><span class="useicons">&#xe601;</span><span class="link_url">{{article.link_url|get_domain}}</span></a>
                            </h5>
                        {%- endif -%}
                        {%- if not category_page -%}
                        <h5 class="category small-caps"><a href="{{ SITEURL }}/{{ article.category.url }}">{{article.category}}</a></h5>
                        {%- endif -%}
                    </header>
                    <article class="content">
                        <div class="entry-content"> {{ article.content }} </div><!-- entry-content -->
                        <footer class="post-footer">
                          <a class="small-caps"href="{{ SITEURL }}/{{ article.url }}"><span class="useicons">&#xe602;</span><span class="pub_date">{{article.date|strftime('%B %Y')}}</span></a>
                        </footer>
                    </article>
            </section>
        {% endfor %}
        {% include 'partials/_pagination.html' %}
    {% endblock article_list %}
{% endblock content %}
