
<section class="post-full post-trunc" data-id="{{article.id}}">
        <header>
            <h2 class="title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
            {%- if article.link_url -%}
                <h5 class="link_url">
                    <a href="{{article.link_url}}"><span class="useicons">&#xe61e;</span><span class="link_url">{{article.link_url|get_domain}}</span></a>
                </h5>
            {%- endif -%}
            <h5 class="category small-caps"><a href="{{ SITEURL }}/{{ article.category.url }}">{{article.category}}</a></h5>
        </header>
        <article class="content">
            <div class="entry-content"> {{ article.summary }} </div><!-- entry-content -->
            <footer class="post-footer">
              <a class="small-caps"href="{{ SITEURL }}/{{ article.url }}"><span class="useicons">&#xe630;</span><span class="pub_date">{{article.date|strftime('%B %Y')}}</span></a>
            </footer>
        </article>
</section>