<ul role="navigation" class="pure-menu-list">
    {% for p in PAGES %}
        {% if HOME_PAGE and p.title != HOME_PAGE.content %}
        <li class="pure-menu-item {% if p == page %}pure-menu-selected{% endif %}">
            <a class="pure-menu-link" href="{{ SITEURL }}/{{ p.url }}">{{ p.slug | capitalize }}</a>
        </li>
        {% endif %}
    {% endfor %}
    <li class="pure-menu-item">
        <a class="pure-menu-link" href="#">Blog</a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" href="#">CV</a>
    </li>
</ul>
