<div class="ss-icons">
    {% if AUTHOR_LINKS.EMAIL %}
    <a class="mail ss-icon ss-circle" href="mailto:{{AUTHOR_LINKS.EMAIL}}" rel="me">Email</a>
    {% endif %}
    {% if AUTHOR_LINKS.TWITTER %}
    <a class="twitter ss-icon ss-circle" href="{{AUTHOR_LINKS.TWITTER}}" rel="me">Twitter</a>
    {% endif %}
    {% if AUTHOR_LINKS.INSTAGRAM %}
    <a class="instagram ss-icon ss-circle" href="{{AUTHOR_LINKS.INSTAGRAM}}" rel="me">Instagram</a>
    {% endif %}
    {% if AUTHOR_LINKS.GITHUB %}
    <a class="github ss-icon ss-circle" href="{{AUTHOR_LINKS.GITHUB}}" rel="me">GitHubOctocat</a>
    {% endif %}
</div>
