<div class="s-icons">
    {% if AUTHOR_LINKS.EMAIL %}
    <a class="mail useicons" href="mailto:{{AUTHOR_LINKS.EMAIL}}" rel="me">&#58885;</a>
    {% endif %}
    {% if AUTHOR_LINKS.TWITTER %}
    <a class="twitter useicons" href="{{AUTHOR_LINKS.TWITTER}}" rel="me">&#58886;</a>
    {% endif %}
    {% if AUTHOR_LINKS.INSTAGRAM %}
    <a class="instagram useicons" href="{{AUTHOR_LINKS.INSTAGRAM}}" rel="me">&#58884;</a>
    {% endif %}
    {% if AUTHOR_LINKS.GITHUB %}
    <a class="github useicons" href="{{AUTHOR_LINKS.GITHUB}}" rel="me">&#58887;</a>
    {% endif %}
</div>
