
.cv {
    .page-content {

    }
    iframe {
        display:none;
    }
    .cv-mobile {
        width:300px;
        margin:0 auto;
    }
}


@media (min-width: 48em) {
    .cv {
        .cv-mobile {
            display:none;
        }
        height:100%;
        .main {
            padding-top:0;
        }
        .page-content {
            margin:0 auto;
        }

        .cv-frame-wrap {
            iframe {
                border:none;
                box-shadow: none;
                width:100%;
                display:block;
            }
            width:100%;
            overflow-y:scroll;
        }

        .site-footer {
            position: fixed;
            bottom:0;
            width:100%;
            border-bottom: 3px solid $black;
        }
    }

}