
.home {

    .page-content {
        margin-bottom:50px;
    }
    /* This is the class used for the main content headers (<h3>) */
    .content-head {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: 2em 0 2em;
        a {
           padding:0.5rem;
           border-bottom:1px solid $red;
        }
    }

    .domain, .time {
        color:$mediumgrey;
        font-size:0.75em;
        font-weight:600;
        font-variant: small-caps;
        display:block;
    }

    .two-column {
        .l-box {
            //padding:0 15px;
        }
    }

    // http://codepen.io/allizad/pen/bBsod
    hr {
      margin: 1em auto;
      width:75%;
      text-align: center;
      line-height: 1px;
      height: 1px;
      background: $lightgrey;
      border: 15px solid $bg;
      border-left: 0;
      border-right: 0;
      font-size: 1.05em;
      &:after {
        content:'JH';
        color: $lightgrey;
        font-family: "EB Garamond", serif;
        display: inline;
        background: $bg;
        padding: .2em .3em;
        border: 1px solid $bg;
        border-radius: 100px;
        transition: .3s ease all;
      }
      &:before {
        position: absolute;
        content: '';
        background: transparent;
        border-spacing: 10px;
        margin-top: -14px;
        @include transform( scale(.5));
        margin-left: 1px;
        width: 29px;
        height: 29px;
        transition: .3s ease-out all;
        border-radius: 100px;
      }
      &:not(.heart):hover {
        &:after {
          //border: 1px solid lighten($lightgrey,10%);
        }
        &:before{
          @include transform(scale(1));
          background: $lightgrey;
          transition: 3s cubic-bezier(.5,-0.74,.79,1.53) all;
          @include animation(out .3s cubic-bezier(.5,-0.74,.79,1.53) 3.2s forwards);
        }
      }
      &.heart:after {
        color: $pink;
        padding: .2em .4em;
      }
    }

    /*
     * -- TABLET (AND UP) MEDIA QUERIES --
     */
    @media (min-width: 48em) {
        .domain {
        }
    }

}

/*****************
**** CHARTS *****
****************/
.home {
    .charts {
        margin:1.5em 0;

    }
}


/*****************
**** Twitter / Articles *****
****************/

.gdoc-link {
    a {
        line-height:1em;
    }
    margin:0 0 1em;
}


/*****************
**** Articles ****
****************/

.articles {

    div {

    }

    .article-title {

    }
}


/*****************
**** Instagram ***
****************/
