
.useicons {
    -webkit-font-smoothing: antialiased;
    font-family: "icomoon" !important;
    text-decoration: none;
    color: inherit
}

@font-face{font-family:"SSSocialCircle";src:url(/theme/fonts/ss-circle.eot);src:url(/theme/fonts/ss-circle.eot?#iefix) format("embedded-opentype"),
url(/theme/fonts/ss-circle.woff) format("woff"),
url(/theme/fonts/ss-circle.ttf) format("truetype"),
url(/theme/fonts/ss-circle.svg#SSSocialCircle) format("svg");
font-weight:normal;
font-style:normal
}
html:hover[class^="ss-"] {
    -ms-zoom: 1
}
.ss-icon,
.ss-icon.ss-circle,
[class^="ss-"]:before,
[class*=" ss-"]:before,
[class^="ss-"].ss-circle:before,
[class*=" ss-"].ss-circle:before,
[class^="ss-"].right:after,
[class*=" ss-"].right:after,
[class^="ss-"].ss-circle.right:after,
[class*=" ss-"].ss-circle.right:after {
    font-family: "SSSocialCircle";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased
}
[class^="ss-"].right:before,
[class*=" ss-"].right:before {
    display: none;
    content: ""
}
.ss-twitter:before,
.ss-twitter.right:after {
    content: ""
}
.ss-linkedin:before,
.ss-linkedin.right:after {
    content: ""
}
.ss-googleplus:before,
.ss-googleplus.right:after {
    content: ""
}
.ss-reddit:before,
.ss-reddit.right:after {
    content: ""
}
.ss-quora:before,
.ss-quora.right:after {
    content: ""
}
.ss-youtube:before,
.ss-youtube.right:after {
    content: ""
}
.ss-vimeo:before,
.ss-vimeo.right:after {
    content: ""
}
.ss-vine:before,
.ss-vine.right:after {
    content: ""
}
.ss-flickr:before,
.ss-flickr.right:after {
    content: ""
}
.ss-instagram:before,
.ss-instagram.right:after {
    content: ""
}
.ss-500px:before,
.ss-500px.right:after {
    content: ""
}
.ss-etsy:before,
.ss-etsy.right:after {
    content: ""
}
.ss-pinterest:before,
.ss-pinterest.right:after {
    content: ""
}
.ss-dropbox:before,
.ss-dropbox.right:after {
    content: ""
}
.ss-github:before,
.ss-github.right:after {
    content: ""
}
.ss-octocat:before,
.ss-octocat.right:after {
    content: ""
}
.ss-stackoverflow:before,
.ss-stackoverflow.right:after {
    content: ""
}
.ss-kickstarter:before,
.ss-kickstarter.right:after {
    content: ""
}
.ss-foursquare:before,
.ss-foursquare.right:after {
    content: ""
}
.ss-skype:before,
.ss-skype.right:after {
    content: ""
}
.ss-link:before,
.ss-link.right:after {
    content: "🔗"
}
.ss-phone:before,
.ss-phone.right:after {
    content: "📞"
}
.ss-mail:before,
.ss-mail.right:after {
    content: "✉"
}
.ss-like:before,
.ss-like.right:after {
    content: "👍"
}
.ss-rss:before,
.ss-rss.right:after {
    content: ""
}
.ss-share:before,
.ss-share.right:after {
    content: ""
}
.ss-apple:before,
.ss-apple.right:after {
    content: ""
}
.ss-android:before,
.ss-android.right:after {
    content: ""
}
a.ss-icon.twitter:hover {
    color: #14b0f2 !important
}
a.ss-icon.github:hover {
    color: #5590c9 !important
}
a.ss-icon.linkedin:hover {
    color: #0174b1 !important
}
a.ss-icon.googleplus:hover {
    color: #dd472d !important
}
a.ss-icon.instagram:hover {
    color: #517fa4 !important
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?abpmn1');
    src:url('fonts/icomoon.eot?#iefixabpmn1') format('embedded-opentype'),
        url('fonts/icomoon.ttf?abpmn1') format('truetype'),
        url('fonts/icomoon.woff?abpmn1') format('woff'),
        url('fonts/icomoon.svg?abpmn1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-coffee:before {
    content: "\e600";
}
.icon-link:before {
    content: "\e601";
}
.icon-bookmark:before {
    content: "\e602";
}
.icon-hand:before {
    content: "\e603";
}
