.reading-page {
    .articles {
        display:flex;
        align-items:stretch;

        .gdoc-link {
            padding-bottom:55px;
            position: relative;

            hr {
                position: absolute;
                bottom:0;
            }
        }
    }


}